### SQL Queries for Mere Mortals

#### Part 2 - SQL Basics

#### Chapter 4 - Creating a simple query

In [ ]:
SELECT column_name 
FROM table_name 
WHERE search_condition 
GROUP BY column_name 
HAVING search_condition

In [ ]:
SELECT recipeid, recipetitle, recipeclassid, preparation
FROM recipesexample.recipes
LIMIT 50

Control the order of columns using the column list

In [ ]:
SELECT preparation, recipeid, recipetitle, recipeclassid
FROM recipesexample.recipes
LIMIT 50

An * will return all column, best to specify column names like above

In [ ]:
SELECT *
FROM recipesexample.recipes
LIMIT 50

DISTINCT before column names to specify unique rows only. If used on multiple rows, will only return unique tuples. Hollywood is the city name (unique). Hollywood, FL and Hollywood, CA would be examples of unique if using multiple columns.

In [ ]:
SELECT  DISTINCT recipetitle
FROM recipesexample.recipes
LIMIT 50

In [ ]:
SELECT DISTINCT recipeid, recipetitle, recipeclassid, preparation
FROM recipesexample.recipes
LIMIT 50

ORDER BY sorts the resulting view, general default for most databases is ascending.

In [ ]:
SELECT  recipetitle, recipeid
FROM recipesexample.recipes
ORDER BY recipetitle ASC
LIMIT 50

In [ ]:
SELECT  recipetitle, recipeid
FROM recipesexample.recipes
ORDER BY recipetitle DESC
LIMIT 50

Can set a different sort order on each column

In [ ]:
SELECT  recipetitle, recipeid
FROM recipesexample.recipes
ORDER BY recipetitle DESC, recipeid ASC
LIMIT 50

Some products (ie Microsoft) allow you to specify TOP to get only the top results, either a # or %

In [ ]:
SELECT TOP 5 productname, retailprice
FROM Products
ORDER BY retailprice DESC

In [ ]:
SELECT TOP 10 PERCENT productname, retailprice
FROM Products
ORDER BY retailprice DESC

#### Practice Set

In [ ]:
# all the information from employees table
SELECT *
FROM salesordersexample.employees
LIMIT 10

In [ ]:
# show a list of cities in alpha. order, and the names of vendors in those cities
SELECT vendcity, vendname
FROM salesordersexample.vendors
ORDER BY vendcity ASC

In [ ]:
# names/phone numbers of agents, listed last name, first name, phone number
SELECT agtlastname, agtfirstname, agtphonenumber 
FROM entertainmentagencyexample.agents

In [ ]:
# information on all engagements
SELECT *
FROM entertainmentagencyexample.engagements

In [ ]:
# List all engagements and their start date, sort by date in desc order, and engagement in asc order
SELECT engagementnumber, startdate
FROM entertainmentagencyexample.engagements
ORDER BY startdate DESC, engagementnumber ASC

In [ ]:
# show me a list of all subjects we offer
SELECT subjectname
FROM schoolschedulingexample.subjects

In [ ]:
# what kinds of titles are associated with our faculty
SELECT DISTINCT title
FROM schoolschedulingexample.faculty

In [ ]:
# list the names and phone numbers of the staff, sort by last name, first name
SELECT stflastname, stffirstname, stfphonenumber
FROM schoolschedulingexample.staff
ORDER BY stflastname, stffirstname

In [ ]:
# list all the teams in alphabetical order
SELECT teamname
FROM bowlingleagueexample.teams
ORDER BY teamname

In [ ]:
# list the bowling score info for each member
SELECT matchid, gamenumber, bowlerid, rawscore
FROM bowlingleagueexample.bowler_scores

In [ ]:
# a list of bowlers and their addresses, sort in alpha order
select bowlerfirstname, bowlerlastname, bowleraddress, bowlercity, bowlerstate
from bowlingleagueexample.bowlers
ORDER BY bowlerlastname, bowlerfirstname

In [ ]:
# list of all ingredients in the database
select ingredientname
from recipesexample.ingredients

In [ ]:
# list the main recipe information, sort it by recipe title
select recipetitle, preparation, notes
from recipesexample.recipes
order by recipetitle